/* *********************
    BASE STYLE
** ******************* */

html {
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
    --header-height: 4rem;
    --content-left-right: 10vw;
}

:target:before {
    content: "";
    display: block;
    height: var(--header-height);
    margin-top: calc(-1 * var(--header-height) + 0.1rem);
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    line-height: 1.6;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

p {
    margin-bottom: 0.5rem;
}

img {
    max-width: 100%;
}

input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    line-height: normal;
    padding: 0.8rem 1.6rem;
    border-radius: 0.2rem;
    border: none;
}

/* *********************
    HEADER STYLE
** ******************* */

.header-wrapper {
    position: relative;
}

.header {
    position: fixed;
    height: var(--header-height);
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: hsla(209, 30%, 65%, 0.9);
    z-index: 9999;
}

.logo {
    height: 60%;
    width: 100%;
}

.logo a {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    transition: 0.5s;
}

.logo a:hover,
.logo a:focus {
    transform: scale(1.05,1.05);
}

.logo-img {
    display: block;
    max-height: 100%;
    width: auto;
    padding: 0.1rem 0;
}

.nav-bar {
    height: 40%;
    width: 100%;
}

.nav-bar ul {
    height: 100%;
    width: 100%;
    display: flex;
}

.nav-bar ul li {
    flex-grow: 1;
    display: flex;
    height: 100%;

}

.nav-link {
    flex-grow: 1;
    text-align: center;
    height: 100%;
    text-decoration: none;
    color: hsla(209, 100%, 10%, 1);
    font-family: 'Unica One', cursive;
    font-size: 1.3rem;
    text-transform: uppercase;
    line-height: normal;
    transition: 1s;
}

.nav-link:hover,
.nav-link:focus {
    background-color: hsla(51, 96%, 48%, 1);
}

@media(min-width: 768px) {
    .header {
        flex-direction: row;
        justify-content: space-between;
        padding-left: var(--content-left-right);
        padding-right: var(--content-left-right);
    }
    .logo {
        position: relative;
        width: 30%;
        height: 100%;
    }
    .logo-img {
        position: absolute;
        top: 1rem;
        left: 0;
        max-width: 100%;
        height: auto;
    }
    .nav-bar {
        height: 100%;
        width: 60%;
    }
    .nav-link {
        font-size: 1.5rem;
        line-height: var(--header-height);
    }
}


/* *********************
    FORM STYLE
** ******************* */

.form-wrapper {
    height: 80vh;
    width: 100%;
    background: url(assets/featured-img.jpg) no-repeat 60% 85%;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 var(--content-left-right) 5vh;
}

.page-title {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: hsla(51, 100%, 50%, 0.9);
    text-shadow: 0 0 3px hsla(209, 100%, 10%, 0.9);
    font-family: 'Unica One', cursive;
}

.form {
    display: flex;
    flex-direction: column;
}

.input {
    margin-bottom: 0.5rem;
    background-color: hsla(56, 100%, 92%, 0.9);
}

.button {
    background-color: hsla(51, 96%, 48%, 0.9);
    font-weight: 700;
    
}

.input,
.button {
    border: 2px solid hsla(51, 96%, 48%, 0.9);
    color: hsla(209, 100%, 10%, 0.9);
    transition: 0.5s;
}

.input:focus,
.input:hover,
.button:focus,
.button:hover {
    border-color: hsla(209, 100%, 50%, 0.9);
    box-shadow: 2px 2px 4px hsla(209, 30%, 65%, 0.9), -2px -2px 4px hsla(209, 30%, 65%, 0.9);
    outline: none;
}

@media(min-width: 576px) {
    .form {
        flex-direction: row;
    }
    .input {
        width: 50%;
        margin-bottom: 0;
        margin-right: 1rem;
    }
}

@media(min-width: 768px) {
    .input {
        width: 40%;
    }
}


/* *********************
    MAIN STYLE
** ******************* */

.content-wrapper {
    margin-top: var(--header-height);
}

.main {
    padding: 0 var(--content-left-right) 5vh;
}

.main h2 {
    margin: 3rem 0 1rem;
}

.video-wrapper {
    background-color: black;
    margin: 2rem 0;
    padding: 1rem;
    text-align: center;
}

.video {
    max-width: 100%;
    height: auto;
}


/* *********************
    FOOTER STYLE
** ******************* */

.footer {
    margin-top: 3rem;
    padding: 2vh var(--content-left-right);
    background-color: hsla(209, 30%, 65%, 0.9);
    color: hsla(209, 100%, 10%, 0.9);
    text-align: right;
}

.footer ul {
    margin: 1rem 0;
    display: flex;
    justify-content: flex-end;
}

.footer ul li {
    margin-left: 1rem;
    display: inline-block;
}

.footer a {
    text-decoration: none;
    color: inherit;
    font-weight: 700;
    border-bottom: 1px dotted;
}

.footer a:focus,
.footer a:hover {
    color: hsla(209, 100%, 10%, 1);
    border-bottom: 1px solid;
}